.Cosy {
  margin-top: 100px;
  .content {
    position: relative;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 23px;
    h4 {
      font-size: 50px;
      position: absolute;
      top: 270px;
      left: 240px;
      color: #A77E3C;
    //   box-shadow: 0 25px 50px -12px white;
    //   background: rgba(255, 255, 255, 0.368);
      padding: 10px 20px;
      filter: drop-shadow(2px 2px 2px red);
    }
    .one {
      margin-top: 30px;
      h1 {
        // background: linear-gradient(to right, cyan, blue, violet);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: orange;
        font-size: 35px;
      }
      h2 {
        width: 350px;
        font-size: 20px;
        line-height: 23px;
        margin-top: 35px;
        height: 300px;
      }
      h2 {
        width: 350px;
        font-size: 16px;
        font-weight: 100;
        line-height: 23px;
        height: 300px;
        margin-top: 35px;
      }
      a {
        font-size: 25px;
        text-decoration: none;
        color: rgba(60, 0, 255, 0.634);
      }
      a:hover {
        color: blue;
        transition: 0.3s;
      }
    }
    .twoe {
      width: 450px;
      height: 520px;
      border: 1px solid white;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 400px;
        height: 470px;
        object-fit: cover;
      }
    }
    .three {
      margin-top: 30px;
      h1 {
        // background: linear-gradient(to right, cyan, blue, violet);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: red;
        font-size: 35px;
      }
      h2 {
        width: 350px;
        font-size: 16px;
        font-weight: 100;
        line-height: 23px;
        height: 300px;
        margin-top: 35px;
      }
      a {
        font-size: 25px;
        text-decoration: none;
        color: rgba(60, 0, 255, 0.634);
      }
      a:hover {
        color: blue;
        transition: 0.3s;
      }
    }
  }
}
